[submodule "backend"]
	path = backend
	url = https://github.com/AI4Bharat/Anudesh-backend
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/AI4Bharat/Anudesh-frontend
	branch = main

